html {
  box-sizing: border-box;
  min-height: 100%;
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #696969;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.selected {
  background-color: #DB7093 !important;
  color: #ffffff !important;
}

#topNav {
  display: flex;
  height: 10em;
  background-color: #DB7093;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  h1 {
    font-size: 30px;
  }
  #rgb {
    font-size: 2em;
    text-transform: uppercase;
  }
}

#bottomNav {
  display: flex;
  height: 2em;
  background-color: #ffffff;
  align-items: center;
  color: #ffffff;
  list-style-type: none;
  margin-top: 0;
  justify-content: center;
  button {
    border: none;
    color: #DB7093;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    background-color: #ffffff;
    height: 100%;
    transition: all 0.3s;
    -moz-animation: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    outline: none;
  }
  button:hover {
    color: white;
    background: #DB7093;
  }
  #easyBtn {
    margin-left: 2em;
  }
  #result {
    color: #DB7093;
    display: inline-block;
    width: 15%;
    text-align: center;
  }
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em auto 0 auto;
  width: 50%;
  .square {
    height: 10em;
    width: 10em;
    margin: 0.5em;
    background-color: goldenrod;
    border-radius: 17%;
    transition: background 0.3s;
    -moz-animation: background 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
}

